# Jupyter
.ipynb_checkpoints/
*.pyc
__pycache__/

# Python env
.venv/
venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Security
.env

.venv/

# LaTeX
*.aux
*.log
*.out
*.synctex.gz

